.product-detail {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px 30px;
  margin-top: 80px;
}

.product-content {
  max-width: 25vw;
  padding: 0 30px;
}

.checkout-btn,
.product-btn {
  background-color: #222 !important;
  color: #fff !important;
  padding: 15px 20px;
  font-size: 16px;
  outline: none;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

select {
  background-color: #fff !important;
  color: #222;
  text-align: center;
  padding: 15px 20px;
  font-size: 16px;
  width: 100px;
  height: auto;
  margin-right: 20px;
  border-radius: 5px;
}

select > option {
  border-bottom: 1px solid #222 !important;
}

label {
  margin-right: 10px;
}
