.card {
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px rgba(5, 5, 5, 0.13);
  text-align: center;
  margin: 2% auto;
  padding: 10px;
  cursor: pointer;
  width: 400px;
  min-height: 250px;
}

.card:hover {
  box-shadow: 0px 11px 16px 0px rgba(5, 5, 5, 0.23);
  transition: all 0.3s;
}

.card-header {
  font-size: 16px !important;
  font-weight: bold;
  padding: 10px;
  color: #353b48;
  display: inline-block;
}

.card-img {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 20px;
  width: 100%;
  transition: transform 0.5s;
}

.card-img:hover {
  transform: scale(1.02);
}

.card-rating {
  font-size: 18px;
  padding: 5px 0;
}

.card-price {
  font-size: 22px;
  letter-spacing: 3px;
}
